html
 { overflow-y: scroll;
  overflow-x:hidden;
 }
body {
  width: auto;
  height: auto;
  display: flex;
  
  overflow: hidden;
  background: rgb(46, 45, 45);
  color: white;
  padding: 2px;
  font: 1rem 'Fira Sans', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  

}
#site-search{
  margin: .4rem 0;
  
}
/* for nav buttons */
.button {
  padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;

}


.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.title {
  display: flex;
  width: auto;
  height: 90px;
  margin:0%;
  padding:0%
}

.nav {
  display: flex;
  margin:0%;
  padding: 0%;
  height: 90px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nav {
  display: flex;
    margin: 0%;
    padding: 0%;
    height:auto;
    position: relative;
    flex-direction: column;
}
}

.search{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  
}
.content div {
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  height: auto;
  width: 250px;
}
.content div h4 {
  padding: 5px;
  text-align: center;
  background: none;
  color: white;
  border-radius: 8px;
  margin: 0;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  transition: 200ms;
}
img:hover {
  border-radius: 0px;
  tansforrm: scale(1.2);
}

.content div video {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  transition: 200ms;
  
  
}